//colors
$bg-color: #686868;
$body-bg-color:#ccc;
$banner-bg-color: #ED5A3D;
$text-color-dark: #003c79;
$text-color-light: white;
$text-color-light-a:#CCC;

// Breakpoints
$tablet-wide: 1024px;
$phone-wide: 650px;
