@charset "utf-8";
/* CSS Document */


//colors
$bg-color: #686868;
$body-bg-color:#ccc;
$banner-bg-color: #ED5A3D;
$text-color-dark: #003c79;
$text-color-light: white;
$text-color-light-a:#CCC;

//font
$body-font: 'Arial', serif;



//mixins

@mixin flatten {
    padding: 0;
    margin: 0;
}


@mixin links ($light-color: WHITE){
    color: white;
    text-decoration: none;
    font-style: $body-font;
}


@mixin article-padding{
    padding: 0px 30px;
}


//SASS

body {
   @include flatten;
    margin: 0;
    font-family: $body-font;
    max-width: 100%;
    background-color: $body-bg-color;
}


img {
    max-width: 100%;

}

h1, h2  {
    font-family:$body-font;
}


.header {
    @include flatten;
    background-color: $bg-color;
    font-family: $body-font;
    display: flex;
    justify-content: space-around;
    height: 100px;
    max-width: 100%;

}
.header h1{
    @include flatten;
    font-size: 40px;
    font-weight: 400;
    width: 100px
}

.menu{
    display: none;
}
.header nav ul{
    @include flatten;
    font-family: $body-font;
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: 300;

}

.header a{

    @include links;
    display: block;
    margin-top: 15px;
    padding: 20px;

}

.header a:hover, .header- a:focus{
    @include links;
    display: block;
    margin-top: 15px;
    background-color: #ccc;
}

img.logo {
  width: 100px;
  height: 100px;
}

.top-banner{
    line-height: 1.4;
    font-family: $body-font;
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.top-banner p{
    font-size: 30px;
    @include flatten;
}

.banner{
    position: relative;
}

.banner h2{
   position: absolute;
   color: $text-color-light;
   font-size: 60px;
   font-weight: 300;
   top: 35%;
   bottom: 30%;
   padding-left: 35%;
}


article {
    @include article-padding;
    font-family: $body-font;


}

section h1{
    text-align: center;
    padding-top: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

section .row {
  max-width: 100%;
    display: flex;
    justify-content: space-around;

}




footer {
    background-color: $text-color-dark;
    color: $text-color-light;
    height: 15%;
    padding: 10px;
}

footer a{
    color: $text-color-light-a;
    text-decoration: none;
}

footer .row {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    padding: 10px 40px;
}


nav a {
  font-family: $body-font;
}


//Responsive

@media (max-width:650px){
    body.show {
        display:flex;
        flex-direction:column;
    }

    button.menu {
        display: block;
        background-color: transparent;
        border: none;
        padding-top: 10px;
        color:$text-color-light;
        height: 15px;
        font-size: 15px;
        margin-top: 10px;

    }

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: auto;
    }


    .header- a:hover, .header- a:focus{
    @include links;
    display: block;

}

    .header- a{
        padding: 14px;
    }


    section .row{
        flex-direction: column;
    }

//NAV
    nav {
         display: none;
        height: 0;
        width: 100%;


    }
    nav ul {
        flex-direction: column;
    }

   nav li {
        width: 100%;
    }
   nav a {
        text-align: center;
        font-size: 20px;
   }
    .show nav{
        height: 330px;
        display: block;
    }


//BANNER
    .banner h2{
        padding-left: 35%;
        font-size: 35px;
    }


//FOOTER
    footer{
        height: auto;
    }
    footer .row{
        flex-direction: column;
    }

}
